<%- include('partials/header'); -%>

<header>
  <div class="headings">
    <h2>Radio Electronics Lab</h2>
    <h3>Үндсэн талбар</h3>
    <a href="/device" class="btn">Төхөөрөмжрүү шилжих</a>
  </div>
</header>


<%- include('partials/footer'); -%>